@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.tower-background {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background-color: #F2F2F2;
    border: #21404E 2px solid;
}

.tower-background  h1{

    color: #21404E;
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
}
.apartments {  
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    
    
}
.btnApartment{
    margin: 10px;
}